body:not(.origin) #app .history-wrap{
    max-width: 980px;
    width: 100%;
    min-width: 780px;
    padding-top: 10px;
}
body:not(.origin) #app .history-list .cover-contain{
	margin-right: 10px;
}
body:not(.origin) #app .history-list .r-info .r-txt{
	width: calc(100% - 170px);
}
body:not(.origin) #app .history-list .r-info .w-info .time-wrap{
	width: 150px;
}