body{
    overflow-x: hidden;
}

#app{
    background-color: #f6f6f6;
    margin-right: 6px;
}

#app .bili-wrapper{
    width: auto;
    max-width: 980px;
    margin: 0 auto;
}

#app .chief-recommend-module{
    margin-top: 6px;
}
#app .chief-recommend-module .recommend-module{
    /*height: auto;*/
    height: 462px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -6px -12px;
    padding: 6px; /*此处padding与margin的互相抵消是为了显示出内部元素的阴影*/
    box-sizing: border-box;
}
#app .chief-recommend-module .recommend-module:before, #app .chief-recommend-module .recommend-module:after{
    content: none;
}
#app .recommend-module > *{
    box-shadow: 0px 1px 5px #bdbdbd;
    margin: 0 6px 6px;
}
#app .recommend-module .rec-btn{
    opacity: 1;
    position: static;
    width: auto;
    min-width: 48%;
    flex-grow: 1;
    margin-top: 0;
    padding: 0;
    background-image: none;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    color: #222;
}

#app .chief-recommend-module .carousel-box{
    zoom: 0.91;
}

#app .recommend-module .groom-module{
    max-width: 200px;
    height: 200px;
    flex-grow: 1;
}
#app .groom-module .card-mark, #app .groom-module:hover .card-mark{
    background: none;
    top: 100px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
@media screen and (max-width: 988px){
    #app .recommend-module .groom-module:nth-last-child(3){
        display: none;
    }
}
@media screen and (max-width: 920px){
    #app .recommend-module .groom-module:nth-last-child(4){
        display: none;
    }
}
#app .groom-module img{
    width: 100%;
}
#app .groom-module .card-mark .title{
    color: #222;
}
#app .groom-module .card-mark .author, #app .groom-module .card-mark .play{
    opacity: 1;
}
#app .groom-module:hover .w-later{
    display: none;
}

#app .new-comers-module .storey-box .spread-module{
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #bdbdbd;
}
#app .cover-preview-module, .spread-module .pic .mask-video, #app .danmu-module{
    display: none;
}
#app .spread-module .pic{
    border-radius: 0;
}
#app .spread-module .pic .dur{
    opacity: 1;
    left: auto;
    background: linear-gradient(to top, #0000006e,#0000);
    width: 100%;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
    text-align: right;
    height: 20px;
    line-height: 24px;
}
#app .spread-module .t{
    padding: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#app .spread-module .num{
    top: 80px;
    background-color: unset;
    color: #fff;
}
#app .spread-module .num span{
    margin-right: 5px;
    width: auto;
}
#app .spread-module .num .icon{
    zoom: 0.6;
    width: 20px;
    height: 18px;
}
#app .spread-module .num .play .icon{
    background-position: -725px -215px;
}
#app .spread-module .num .danmu .icon{
    background-position: -725px -278px;
}
#app .watch-later-trigger{
    top: 4px;
}

#app .zone-wrap-module .zone-module{
    display: flex;
    justify-content: space-between;
}
#app .bili-wrapper .l-con{
    width: auto;
    flex-grow: 1;
}
#app .bili-wrapper .r-con{
    flex-shrink: 0;
}
#app .new-comers-module .storey-box{
    height: auto;
    display: flex;
    padding: 6px;
    margin: -6px 4px -6px -6px;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 465px;
}
#app .new-comers-module .storey-box:before, #app .new-comers-module .storey-box:after{
    content: none;
}
#app .new-comers-module .storey-box .spread-module{
    margin: 0 0 10px 0;
}
#app .zone-module .zone-rank{
    flex-shrink: 0;
}

#app .popularize-module{
    display: flex;
}
#app .popularize-module .storey-box{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    margin: -6px 4px -6px -6px;
    padding: 6px;
}
#app .popularize-module .storey-box:before, #app .popularize-module .storey-box:after{
    content: none;
}
#app .popularize-module .storey-box .spread-module{
    margin: 0 0 20px;
    box-shadow: 0px 1px 5px #bdbdbd;
}

#app .live-module{
    display: flex;
}
#app .live-module .storey-box{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    margin: -6px 4px -6px -6px;
    padding: 6px;
    height: 484px;
}
#app .live-module .storey-box:before, #app .live-module .storey-box:after{
    content: none;
}
#app .live-module .storey-box .card-live-module{
    margin: 0 0 20px;
    box-shadow: 0px 1px 5px #bdbdbd;
}
#app .live-module .zone-title .headline .fire{
    display: none;
}

#app .bangumi-module, #app .guochuang-module{
    display: flex;
    justify-content: space-between;
    position: relative;
}
#app .bangumi-module{
    padding-top: 474px;
}
 #app .guochuang-module{
    padding-top: 384px;
 }
#app .bangumi-module .up, #app .guochuang-module .top-gc{
    position: absolute;
    top: 0;
    display: flex;
}
#app .bangumi-timing-module .headline{
    display: flex;
    padding-right: 134px;
}
#app .bangumi-timing-module .headline > *{
    flex-shrink: 0;
}
#app .bangumi-timing-module .headline .bili-tab{
    width: auto;
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
#app .bangumi-timing-module .headline .bili-tab .bili-tab-item{
    width: auto;
    max-width: 70px;
}
#app .bangumi-module .up .sec-rank, #app .guochuang-module .top-gc .sec-rank-gc, #app .guochuang-module .sec-rank{
    flex-shrink: 0;
    max-width: 260px;
}
#app .bangumi-timing-module .timing-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}
#app .bangumi-timing-module .timing-box:before, #app .bangumi-timing-module .timing-box:after{
    content: none;
}
#app .bangumi-timing-module .card-timing{
    padding: 0 46px 36px 0;
}
#app .bangumi-module .storey-box{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    margin: -6px 4px -6px -6px;
    padding: 6px;
    height: 465px;
}
#app .bangumi-module .storey-box:before, #app .bangumi-module .storey-box:after{
    content: none;
}
#app .bangumi-module .storey-box .card-live-module{
    margin: 0 0 20px;
    box-shadow: 0px 1px 5px #bdbdbd;
}

#app .audio-comers-module .storey-box{
    height: auto;
}
#app .audio-list .song-list, #app .audiolist-list .song-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 610px;
}
#app .audio-list .song-list .song-li, #app .audiolist-list .song-list .song-li{
    margin-right: 10px;
}
#app .audio-list .song-list .song-li .content .text, #app .audiolist-list .song-list .song-li .content .text{
    margin-right: 0;
}

#app .special-recommend-module{
    display: flex;
    padding-bottom: 0;
}
#app .special-recommend-module .storey-box{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    margin: -6px 4px -6px -6px;
    padding: 6px;
    height: auto;
}
#app .special-recommend-module .storey-box:before, #app .special-recommend-module .storey-box:after{
    content: none;
}
#app .special-recommend-module .special{
    margin: 0 0 10px;
    box-shadow: 0px 1px 5px #bdbdbd;
}
#app .special-module{
    height: 165px;
}
#app .special-module .pic .title{
    margin: 24px 5px auto 5px;
}

/*app下载，横幅广告*/
#app .home-app-download, #app .gg-floor-module{
    display: none;
}



#app .bili-wrapper .r-con{
    display: none;
}
#app .bili-wrapper .l-con{
    overflow-x: auto;
}
#app .live-module .storey-box{
    display: block;
    white-space: nowrap;
    height: 155px;
    overflow-x: auto;
}
#app .live-module .storey-box .card-live-module{
    display: inline-block;
    float: none;
    margin-right: 20px;
}