body:not(.origin) .app-ctnr{
	margin-left: 60px;
}

body:not(.origin) .app-ctnr .header-tag{
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
body:not(.origin) .app-ctnr .header-tag a{
    display: inline-block;
    width: 80px;
    height: 28px;
    color: #999;
    text-decoration: none;
}
body:not(.origin) .app-ctnr .header-tag a.active{
    color: #fb7299;
    border-bottom: 2px solid #fb7299;
}

body:not(.origin) .app-ctnr .room-list-container{
	padding: 0 0.1rem;
}
body:not(.origin) .app-ctnr .room-list-container .room-card:nth-of-type(2n){
	margin-left: 0;
}
/*body:not(.origin) .app-ctnr*/

body:not(.origin) .app-ctnr .logo-bar,
body:not(.origin) .app-ctnr .top-nav-ctnr,
body:not(.origin) .app-ctnr .bili-app-link-container{
	display: none;
}

body:not(.origin).live-content .app-ctnr{
	width: calc(100% - 60px);
	height: auto !important;
}
body:not(.origin).live-content .logo-bar{
	display: block;
}
/*body:not(.origin) .live-content .bilibili-lmp-video-wrapper[data-orientation=landscape]{
    position: relative;
    width: calc(100vw - 60px);
    height: calc(100vh - 1.066666666666667rem);
}*/

body:not(.origin).live-content .bilibili-lmp-player-wrapper>.bilibili-lmp-video-wrapper{
/*	position: relative;
	width: 50%;
	height: calc(100vh - 1.066666666666667rem);
*/
	position: fixed;
    top: 1.066666666666667rem;
    left: 60px;
    width: calc(50% - 30px);
    height: calc(100% - 1.066666666666667rem);
}
body:not(.origin).live-content .bilibili-lmp-video-wrapper[data-mode=fullScreen]{
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
body:not(.origin).live-content .bottom-part{
	display: block;
	position: fixed;
    top: 1.066666666666667rem;
    right: 0;
    width: calc(50% - 30px);
    height: calc(100% - 1.066666666666667rem) !important;
}
body:not(.origin).live-content .bottom-chat{
	display: none;
}
/*@media (orientation:landscape) {
	body:not(.origin) .live-content .room-info {
		display: block
	}
	body:not(.origin) .live-content .top-part {
		height: unset;
	}
	body:not(.origin) .live-content .player-wrap .player-ctnr {
		height: unset;
	}
	body:not(.origin) .live-content .bottom-part {
		display: block
	}
	body:not(.origin) .live-content .split-actionbar {
		display: block
	}
}*/