/*body{
    overflow-x: hidden;
}*/

body:not(.origin) #app{
    margin-left: 60px;
    min-width: unset !important;
}

body:not(.origin) #app .home-page .home-container{
    margin-top: 0;
}
body:not(.origin) #app .home-page .home-container .home-content{
    min-width: 794px;
    width: 100%;
    max-width: 806px;
}
body:not(.origin) #app .home-page .home-container .home-content .right-panel{
    width: calc(100% - 562px);
    /*max-width: 268px;*/
    /*min-width: 224px;*/
}
body:not(.origin) #app .home-page .home-container .home-content .right-panel .right-panel-wrapper{
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-right: 8px;
    height: 100vh;
    overflow-y: auto;
    overscroll-behavior-y: none;
}
/*body:not(.origin) #app .home-page .home-container .home-content .right-panel .right-panel-wrapper.sticky{
    position: sticky;
    transition: transform 0.5s;
}*/
body:not(.origin) #app .home-page .home-container .home-content .right-panel .right-panel-wrapper > div{
    margin: 8px 0 0 0;
    width: 100%;
    overflow: unset;
}
body:not(.origin) #app .user-panel{
    order: 0;
}
body:not(.origin) #app .live-panel{
    order: 1;
}
body:not(.origin) #app .notice-panel{
    order: 2;
    display: none; /*图片尺寸不好搞，懒得调了，删掉*/
}
body:not(.origin) #app .tag-panel{
    order: 3;
}
body:not(.origin) #app .home-page .home-container .home-content .right-panel .right-panel-wrapper > div:last-child{
    margin-bottom: 8px;
}
body:not(.origin) #app .user-panel .content{
    border-radius: 4px;
    overflow: hidden;
}
body:not(.origin) #app .user-panel .content .bottom{
    width: auto;
}
body:not(.origin) #app .notice-panel .img-container .notice-img{
    width: 100%;
    height: auto;
    max-width: 236px;
}
body:not(.origin) #app .home-page .home-container .home-content .right-panel > div .more-button{
    left: auto;
    right: 21px;
}
body:not(.origin) #app .live-up .live-up-name{
   display: flex;
}

body:not(.origin) #app .back-top,
body:not(.origin) #app .back-top:hover{
    width: 94px;
    height: 123px;
    background-position: -28px -28px;
    bottom: -30px;
    background-image: url(//s2.hdslb.com/bfs/static/blive/blfe-dynamic-web/static/img/rocket_top.bcc748c.png);
    animation: none;
    touch-action: none;
}

body:not(.origin) #app .home-page .home-container .home-content .center-panel{
    width: 546px;
}
body:not(.origin) #app .feed-card{
    min-width: unset;
}
body:not(.origin) #app .card{
    min-width: unset;
}
body:not(.origin) #app .card .main-content{
    margin-left: 12px;
    padding-top: 15px;
}
body:not(.origin) #app .card .main-content .user-name,
body:not(.origin) #app .card .main-content .time/*,
body:not(.origin) #app .card-content > .description*/{
    margin-left: 76px;
}
body:not(.origin) #app .card .user-head{
    top: 13px;
}
body:not(.origin) #app .card-content{
    margin-top: 20px;
}

body:not(.origin) #app .tab-bar .tab:first-child{
    padding-left: 15px;
}
body:not(.origin) #app .tab-bar .line{
    left: -5px;
}

body:not(.origin) #app .vc-ctnr{
    height: 300px;
}
body:not(.origin) #app .vc-ctnr video{
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
}

body:not(.origin) #app .comment-area,
body:not(.origin) #app .forw-area{
    width: 100%;
}
body:not(.origin) #app .comment-area .comm-main,
body:not(.origin) #app .forw-area .forw-main{
    padding-left: 12px;
    /*width: 100%;
    box-sizing: border-box;*/
}
/*body:not(.origin) #app .textarea-container .textarea{
    width: 472px !important;
}
body:not(.origin) #app .comm-list .textarea-container .textarea{
    width: 460px !important;
}
body:not(.origin) #app .dynamic-list-item-wrap .item-detail .text, body:not(.origin) #app .child-item-warp .item-detail{
    width: 482px;
}*/
body:not(.origin) #app .comm-face,
body:not(.origin) #app .forw-face{
    margin-right: 5px;
}

body:not(.origin) #app .sticky-bar,
body:not(.origin) #app .home-page .home-container .home-content .center-panel .section-block, 
body:not(.origin) #app .home-page .home-container .home-content .left-panel,
body:not(.origin) #app .userinfo-wrapper{
    display: none;
}