body:not(.origin) .bili-header-m,
body:not(.origin) .z-top-container,
body:not(.origin) #slide_ad,
body:not(.origin) #app .v-wrap > *:not(.l-con),
body:not(.origin) #app .v-wrap .l-con > * {
    display: none;
}
body:not(.origin) #app .v-wrap .l-con #playerWrap{
    display: block;
    position: fixed;
    top: 0;
    left: 60px;
    z-index: 1;
}
body:not(.origin) #app{
    height: 0;
    overflow: hidden;
}
body:not(.origin) #app .v-wrap > .bili-dialog-m{
    display: block;
}
body:not(.origin) #BT-videopage{
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 60px;
    box-sizing: border-box;
    background-color: #f6f6f6;
}
body:not(.origin) #BT-videopage .l-con{
    box-sizing: border-box;
    width: 60%;
    max-width: 646px; /*播放器宽638, 右内边距8*/
    padding-right: 8px;
    overflow: auto;
    margin-left: auto;
}
body:not(.origin) #BT-videopage .r-con{
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: auto;
}
body:not(.origin) #BT-videopage .container{
    margin-bottom: 8px;
    background-color: #fff;
    padding: 8px;
}

body:not(.origin) #bofqi {
    width: 638px !important;
    height: 405px !important;
}
body:not(.origin) #bofqi .bilibili-player .bilibili-player-area.video-state-pause .bilibili-player-video-control-mask,
body:not(.origin) #bofqi .bilibili-player .bilibili-player-area.video-state-pause .bilibili-player-video-wrap .bilibili-player-video-control-wrap,
body:not(.origin) #bofqi .bilibili-player .bilibili-player-area.video-state-pause .bilibili-player-video-control-bottom{
    visibility: visible;
    opacity: 1;
}
body:not(.origin) #bofqi_container {
    position: relative;
    overflow: hidden;
}
body:not(.origin) #bofqi_container .pop-panel{
    left: 0;
    z-index: 100;
    transform-origin: top left;
}
body:not(.origin) #bofqi_container .pop-panel.poped{
    box-shadow: 0px 0px 5px 0px #000;
}
body:not(.origin) #bofqi_container .pop-panel.fixed{
    position: fixed;
}
body:not(.origin) #BT-videopage #bofqi_container{
    padding: 0;
}
body:not(.origin) #bofqi_container .popout{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 70;
}
body:not(.origin) #bofqi_container.small-player .popout{
    display: block;
}
body:not(.origin) #bofqi_container.small-player .pop-panel.poped .popout{
    display: none;
}
body:not(.origin) #bofqi_container .popin{
    display: none;
    position: absolute;
    width: 36px;
    height: 70px;
    left: 100%;
    top: 0;
    background: url(https://static.hdslb.com/images/base/icons.png) -1232px -893px no-repeat;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #00a1d6;
    box-shadow: 0px 0px 5px 0px #000000;
}
body:not(.origin) #bofqi_container.small-player .pop-panel.poped .popin{
    display: block;
}
body:not(.origin) #bofqi_container .bilibili-player .bilibili-player-area .bilibili-player-video-wrap .bilibili-player-video-top-issue,
body:not(.origin) #bofqi_container .bilibili-player .bilibili-player-area .bilibili-player-video-control .bilibili-player-video-btn-widescreen,
body:not(.origin) #bofqi_container .bilibili-player .bilibili-player-area .bilibili-player-video-control .bilibili-player-video-web-fullscreen,
body:not(.origin) #bofqi_container .bilibili-player-video-volumebar-wrp,
body:not(.origin) #bofqi_container .bilibili-player-video-control .bilibili-player-video-btn-setting-panel .bilibili-player-video-btn-setting-panel-player-choose{
    display: none;
}
body:not(.origin) #bofqi_container .bilibili-player-video-control .bilibili-player-video-btn-setting-panel{
    height: 244px;
    right: -73px;
}
body:not(.origin) #bofqi_container .player-functions{
    position: absolute;
    box-sizing: border-box;
    top: 0;
    right: -40px;
    width: 40px;
    background-color: #fff;
    border: solid 1px #00a1d6;
    border-left: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

body:not(.origin) #BT-videopage #arc_toolbar_report_container{
    padding: 3px 8px;
    min-height: 42px;
}
body:not(.origin) #arc_toolbar_report_container .video-toolbar{
    padding: 7px 17px;
    border-bottom: none;
}
body:not(.origin) #arc_toolbar_report_container .video-toolbar .ops .more{
    margin-right: 0;
    width: 0;
}
body:not(.origin) #arc_toolbar_report_container .more-ops-list{
    display: inline-block;
    width: auto;
    position: static;
    padding: 0;
    background: none;
    box-shadow: none;
    border: none;
}
body:not(.origin) #arc_toolbar_report_container .van-watchlater-icon{
    position: static;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-size: 28px 28px;
    vertical-align: -7px;
}
body:not(.origin) #arc_toolbar_report_container .video-toolbar .ops,
body:not(.origin) #arc_toolbar_report_container .more-ops-list li,
body:not(.origin) #arc_toolbar_report_container .more-ops-list .ops-watch-later{
    height: 31px;
}

body:not(.origin) #BT-info{
    position: relative;
    min-height: 65px;
}
body:not(.origin) #BT-info .BT-more{
    display: block;
    position: absolute;
    border: none;
    margin: 8px;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: url(https://static.hdslb.com/images/base/icons.png) -471px -149px no-repeat;   
}
body:not(.origin) #BT-info.more-info .BT-more{
    background-position-x: -534px;
}

body:not(.origin) #viewbox_report .video-title{
    font-size: 15px;
    padding-right: 20px;
    font-weight: bold;
}
body:not(.origin) #BT-info.more-info #viewbox_report .video-title{
    white-space: normal;
}
body:not(.origin) #viewbox_report .video-data{
    margin: 0;
    line-height: 2;
}

body:not(.origin) #v_desc.video-desc .info{
    display: -webkit-box;
    height: 18px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    flex-shrink: 1;
}
body:not(.origin) #BT-info.more-info #v_desc.video-desc .info.open{
    height: auto;
    -webkit-line-clamp: unset;
}
body:not(.origin) #v_desc.video-desc .btn{
    display: none;
}
body:not(.origin) #v_desc.video-desc .info{
    width: 100%;
}

body:not(.origin) #multi_page_container{

}

body:not(.origin) #v_tag.s_tag .tag-area{
    width: 100%;
    margin-bottom: -8px;
}

body:not(.origin) #v_upinfo.up-info .u-info .name .message,
body:not(.origin) #v_upinfo.up-info .u-info .desc,
body:not(.origin) #v_upinfo.up-info .btn .bi-btn.elecrank-btn{
    display: none;
}
body:not(.origin) #v_upinfo.up-info .btn{
    float: right;
    margin: 0;
    clear: none;
}
body:not(.origin) #v_upinfo.up-info .u-info .name .username{
    line-height: 3;
}
body:not(.origin) .user-card, body:not(.origin) .user-card-m{
    display: none;
}

body:not(.origin) #BT-switch_tag{
    font-size: 14px;
    color: #999;
    display: flex;
    flex-shrink: 0;
}
body:not(.origin) #BT-switch_tag > span{
    width: 50%;
    text-align: center;
}
body:not(.origin) #BT-switch_tag.comment-active .BT-comment{
    color: #fb7299;
}
body:not(.origin) #BT-switch_tag.reco-active .BT-reco{
    color: #fb7299;
}

body:not(.origin) #comment_reco{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
}
body:not(.origin) #comment_reco .scroll{
    width: 200%;
    height: 100%;
    display: flex;
    transition: transform 0.3s;
}
body:not(.origin) #comment_reco .container{
    width: 50%;
    box-sizing: border-box;
}

body:not(.origin) #reco_list_container, body:not(.origin) #comment_container{
    overflow: auto;
    margin-bottom: 0;
}
body:not(.origin) #reco_list{
    overflow: hidden;
}
body:not(.origin) #reco_list .video-page-card .card-box .info{
    width: 30%;
}
body:not(.origin) #reco_list .video-page-card .card-box .info .count.up{
    margin-bottom: 0;
}

body:not(.origin) #comment.comment-m .b-head,
body:not(.origin) #reco_list.recommend-list .rec-title{
    display: none;
}
body:not(.origin) #comment .bb-comment .reply-notice{
    margin: 0;
}
body:not(.origin) #comment .bb-comment .comment-send .user-face,
body:not(.origin) #comment .bb-comment .comment-send .comment-emoji,
body:not(.origin) #comment .bb-comment .comment-header .header-page,
body:not(.origin) #comment .bb-comment .nameplate{
    display: none;
}
body:not(.origin) #comment .bb-comment .comment-send .textarea-container{
    margin-left: 0;
    margin-right: 50px;
}
body:not(.origin) #comment .bb-comment .comment-send .textarea-container textarea,
body:not(.origin) #comment .bb-comment .comment-send .comment-submit{
    height: 28px;
}
body:not(.origin) #comment .bb-comment .comment-send .textarea-container textarea:-webkit-input-placeholder{
    color: #f00;
}
body:not(.origin) #comment .bb-comment .comment-send .comment-submit{
    width: 45px;
    height: 28px;
    min-width: auto;
    line-height: 1.5;
    right: -50px;
}
body:not(.origin) #comment .bb-comment .comment-header{
    margin: 0;
}
body:not(.origin) #comment .bb-comment .comment-list{
    padding-top: 0;
}
body:not(.origin) #comment .bb-comment .comment-send .comment-submit:before{
    content: "\e60c";
    font-family:"BT-iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00a1d6;
}
body:not(.origin) #comment .bb-comment .bottom-page{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 0 0;
}
body:not(.origin) #comment .bb-comment .bottom-page > *{
    flex-grow: 1;
    margin: 3px 2px;
}
body:not(.origin) #comment .bb-comment .comment-header .tabs-order{
    width: 100%;
}
body:not(.origin) #comment .bb-comment .comment-header .tabs-order ul{
    display: flex;
    justify-content: space-between;
}
body:not(.origin) #comment .bb-comment .comment-header .tabs-order li{
    margin: 0;
}
body:not(.origin) #comment .paging-box-big .page-jump{
    text-align: right;
}

body:not(.origin) #comment .bb-comment .comment-list .list-item{
    border-top: 1px solid #e5e9ef;
}
body:not(.origin) #comment .bb-comment .comment-list .list-item .user-face{
    position: absolute;
    margin-top: 10px;
}
body:not(.origin) #comment .bb-comment .comment-list .list-item .user-face .hot-follow{
    display: inline-block;
    margin-left: 6px;
}
body:not(.origin) #comment .bb-comment .comment-list .list-item .con{
    margin-left: 0;
    padding: 0;
    top: 70px;
    margin-bottom: 80px;
    border-top: none;
}
body:not(.origin) #comment .bb-comment .comment-list .list-item > .con > .user{
    margin-left: 60px;
    position: absolute;
    top: -61px;
}
body:not(.origin) #comment .bb-comment .comment-list .list-item .user{

}
body:not(.origin) #comment .bb-comment .comment-list .list-item .info{
    display: flex;
    justify-content: space-between;
}
body:not(.origin) #comment .bb-comment .comment-list .list-item .info>span.floor{
    position: absolute;
    top: -35px;
    right: 0;
    margin-right: 7px;
}
body:not(.origin) #comment .bb-comment .comment-list .list-item .info>span.plad{
    display: none;
}
body:not(.origin) #comment .bb-comment .comment-list .list-item .info>span{
    margin-right: 0;
}
body:not(.origin) #comment .bb-comment .comment-list .list-item .reply-box,
body:not(.origin) #comment .bb-comment .comment-list .list-item .paging-box{
    margin-left: 30px;
}
body:not(.origin) #comment .bb-comment .hot-line{
    margin-left: 0;
    padding-top: 18px;
}
body:not(.origin) #comment .bb-comment .hot-line span{
    top: 10px;
    margin-left: -93px;
}
body:not(.origin) #comment .bb-comment .hot-line + .list-item{
    border-top: none;
}

body:not(.origin) #multi_page.multi-page .cur-list li{
    box-sizing: border-box;
    width: 50%;
    float: left;
}

body:not(.origin) #BT-videopage .l-con #v_tag_container,
body:not(.origin) #BT-videopage .r-con #BT-switch_tag,
body:not(.origin) #BT-videopage .r-con #reco_list_container,
body:not(.origin) #BT-videopage .r-con #comment_container{
    margin-bottom: 0;
}
body:not(.origin) #BT-videopage .l-con #multi_page_container{
    padding: 0;
}
body:not(.origin) #BT-videopage .l-con #v_tag_container{
    min-height: 24px;
}
body:not(.origin) #BT-videopage .r-con #v_upinfo_container{
    min-height: 40px;
}
body:not(.origin) #BT-videopage .r-con #comment_container{
    padding-top: 0;
}